includes:
  - rules.neon

parameters:
  level: max
  checkMissingIterableValueType: false
  paths:
    - src/

services:
  scopeIsInClass:
    class: PHPStan\Internal\ScopeIsInClassTypeSpecifyingExtension
    arguments:
      isInMethodName: isInClass
      removeNullMethodName: getClassReflection
    tags:
      - phpstan.typeSpecifier.methodTypeSpecifyingExtension

  scopeIsInTrait:
    class: PHPStan\Internal\ScopeIsInClassTypeSpecifyingExtension
    arguments:
      isInMethodName: isInTrait
      removeNullMethodName: getTraitReflection
    tags:
      - phpstan.typeSpecifier.methodTypeSpecifyingExtension